<div class="row">
    <div class="large-12 columns">

        <p ng-hide="empty(id)"><a href="" class="button" ng-click="createJob()">Create New</a></p>

        <form>
            <fieldset>
                <legend ng-show="empty(id)">Create Job</legend>
                <legend ng-hide="empty(id)">Edit Job</legend>


                <label>Name</label>
                <input
                        type="text"
                        placeholder="Job Name"
                        ng-model="Job.name">

                <label>Value</label>
                <input
                        type="text"
                        placeholder="Job Value"
                        ng-model="Job.value">

                <label>Method</label>
                <select
                        ng-model="Job.method"
                        ng-options="m.value as m.label for m in methods">
                </select>
                <br><br>

                <div ng-hide="Job.method == 'eval'">
                    <label>Parameters</label>

                    <div class="row" ng-repeat="param in Job.params">
                        <div class="large-6 columns">
                            <input
                                    type="text"
                                    placeholder="Param name"
                                    ng-model="param.name">
                        </div>
                        <div class="large-6 columns">
                            <input
                                    type="text"
                                    placeholder="Param value"
                                    ng-model="param.value">

                            <div class="right"><a href="" ng-click="removeParams($index)">[-]</a></div>
                        </div>
                    </div>
                    <p><a href="" ng-click="addParam()">Add Parameter</a></p>

                </div>

                <label><input
                        ng-model="scheduleType"
                        type="radio"
                        name="scheduleType"
                        value="date"> Date</label>

                <div class="row" ng-show="scheduleType === 'date'">
                    <div class="small-4 columns">
                        <input type="text" class="datepicker" datepicker="" ng-model="date">
                    </div>
                    <div class="small-2 columns">
                        <input type="number" placeholder="HH" ng-model="Date.hour">
                    </div>
                    <div class="small-1 columns">:</div>
                    <div class="small-2 columns">
                        <input type="number" placeholder="MM" ng-model="Date.minute">
                    </div>
                    <div class="small-1 columns">:</div>
                    <div class="small-2 columns">
                        <input type="number" placeholder="SS" ng-model="Date.second">
                    </div>
                </div>


                <label><input
                        ng-model="scheduleType"
                        type="radio"
                        name="scheduleType"
                        value="cron"> Cron</label>

                <div class="row" ng-show="scheduleType === 'cron'">
                    <div class="small-2 columns">
                        <input type="text" size="2" ng-model="Cron.minute" ng-pattern="minutePattern">
                        <label class="rot270">
                            <small>min (0 - 59)</small>
                        </label>
                    </div>
                    <div class="small-2 columns">
                        <input type="text" size="2" ng-model="Cron.hour">
                        <label class="rot270">
                            <small>hour (0 - 23)</small>
                        </label>
                    </div>
                    <div class="small-2 columns">
                        <input type="text" size="2" ng-model="Cron.day">
                        <label class="rot270">
                            <small>day of month (1 - 31)</small>
                        </label>
                    </div>
                    <div class="small-2 columns">
                        <input type="text" size="2" ng-model="Cron.month">
                        <label class="rot270">
                            <small>month (1 - 12)</small>
                        </label>
                    </div>
                    <div class="small-2 columns">
                        <input type="text" size="2" ng-model="Cron.dayOfWeek">
                        <label class="rot270">
                            <small>day of week (0 - 6) (Sunday=0)</small>
                        </label>
                    </div>
                    <div class="small-2 offset"></div>
                </div>

              <label><input
                      ng-model="Job.disabled"
                      type="checkbox"
                      name="disabled"
                      value="date"> Disabled</label>

                <br>

                <p class="right" ng-hide="empty(id)"><a href="" class="button" ng-click="delete(Job)">Delete
                    Job</a></p>


                <p ng-show="empty(id)"><a href="" class="button" ng-click="save()">Submit</a></p>

                <p ng-hide="empty(id)"><a href="" class="button" ng-click="update()">Update</a></p>

            </fieldset>
        </form>

    </div>
</div>

