<h3>The Grid</h3>

<!-- Grid Example -->
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <p>By default, services are set up to use the Foundation responsive CSS framework</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <div class="panel">
            <p>You can configure your app in config.js</p>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="panel">
            <p>You can learn about <a href="http://foundation.zurb.com/">Foundation</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <a href="" class="button" ng-click="demo()">See Demo</a>
        </div>
    </div>
</div>
