<a data-dropdown="filter" class="button dropdown">Order By:</a><br>

<ul id="drop4" data-dropdown-content class="f-dropdown">
    <li><a href="#">This is a link</a></li>
    <li><a href="#">This is another</a></li>
    <li><a href="#">Yet another</a></li>
</ul>

<div class="row collapse">
    <div class="small-3 large-2 columns">
        <span class="prefix">Filter:</span>
    </div>
    <div class="small-9 large-10 columns">
        <input ng-model="qt.$" type="text" placeholder="Enter text from the object...">
    </div>
</div>

<ul>
    <li ng-repeat="item in list | filter:qt">
        <a href="" ng-click="viewJob(item)">{{ item.name }} - {{ item.method }}</a>
        <ul>
            <li>{{ item.value }}</li>
            <li><small>{{ item.params }}</small></li>
            <li><small>{{ item.schedule }}</small></li>
        </ul>
    </li>
</ul>